.cardBody {
    background-color: var(--color-card-bg);
    border: 1px solid var(--color-border);
    border-radius: 30px;
    color: var(--color-text-primary);
    box-shadow: var(--color-accent-blue) 0 0 15px -5px;
    max-width: 600px;
    width: 100%;
}

.avatarWrapper {
    width: 50px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    background-color: #eee; /* optional placeholder */
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}