.cardBody {
    margin: 0 1rem;
    color: var(--color-text-primary);
    background-color: var(--color-card-bg);
    border: 1px solid var(--color-border);
    border-radius: 30px;
    max-width: 400px;
    width: 100%;
}

.postBody {
    overflow-wrap: break-word;
}

.cardBody:nth-last-child(1) {
    margin-bottom: 4rem;
}

.profileImage {
    width: 70px;
    height: auto;
    border-radius: 50%;
}

.nickname {
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text-primary);
}

.nickname:hover {
    text-decoration: underline;
}

.timestamp {
    color: var(--color-text-secondary);
    font-size: 0.8rem
}