.cardBody {
    margin: 0 1rem;
    background-color: #FFFFFF;
    border: 1px solid var(--color-border);
    border-radius: 30px;
}

.cardBody:nth-last-child(1) {
    margin-bottom: 4rem;
}

.profileImage {
    width: 70px;
    height: auto;
    border-radius: 50%;
}

.nickname {
    font-weight: 600;
}

.timestamp {
    color: var(--color-text-secondary);
    font-size: 0.8rem
}