.logo {
    margin-top: 4rem;
    width: 150px;
    height: auto;
}

.loginLink {
    cursor: pointer;
    color: var(--color-text-primary);
    transition: color 0.3s ease;
}

.loginLink:hover {
    color: var(--color-accent-blue);
}