.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    gap: 0.25em;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    flex-grow: 1;
}

.icon {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-secondary);
    transition: color 0.2s ease-in-out; /* Added for a smooth transition */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.text {
    font-size: 0.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: var(--color-text-secondary);
    transition: color 0.2s ease-in-out; /* Added for a smooth transition */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.link.active .icon,
.link.active .text {
    color: var(--color-accent-blue);
}