.textAreaContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 400px;
}

.label {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--color-text-primary);
    margin-bottom: -14px;
    margin-left: 5px;
}

.textInput {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px 12px;
    resize: none;
}

.textCounter {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: var(--color-text-secondary);
}