.layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    background-color: var(--color-bg);
    min-height: 100dvh;
}

.main {
    padding-top: calc(3rem + env(safe-area-inset-top) + 1.5rem); /* 1.5rem for spacing below header, 3rem for header height */
    flex-grow: 1;
}

.nav {
    margin: 1rem 2rem 2rem;
    align-self: center;
}

.headerWrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding-top: env(safe-area-inset-top);
    background-color: rgba(255, 255, 255, 0.000001);
    backdrop-filter: blur(2px);
    color: var(--color-text-primary);
}

